<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!-- [公共Appender] 默认启用 -->
    <appender name="DEFAULT-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志文件输出的位置 -->
        <File>${LOG_PATH}/common-info.log</File>
        <!-- 日志文件归档规则-按时间，每天归档一次 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOG_PATH}/common-info.%d{yyyy-MM-dd}.log.zip
            </FileNamePattern>
        </rollingPolicy>

        <!-- 日志输出格式化，默认配置为PatternLayout -->
        <layout>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{45} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="MYBATIS-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志文件输出的位置 -->
        <File>${LOG_PATH}/mybatis-info.log</File>
        <!-- 日志文件归档规则-按时间，每天归档一次 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOG_PATH}/mybatis-info.%d{yyyy-MM-dd}.log.zip
            </FileNamePattern>
        </rollingPolicy>

        <!-- 日志输出格式化，默认配置为PatternLayout -->
        <layout>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{45} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="REBATE-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志文件输出的位置 -->
        <File>${LOG_PATH}/rebate-info.log</File>
        <!-- 日志文件归档规则-按时间，每天归档一次 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOG_PATH}/rebate-info.%d{yyyy-MM-dd}.log.zip
            </FileNamePattern>
        </rollingPolicy>

        <!-- 日志输出格式化，默认配置为PatternLayout -->
        <layout>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{45} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- 定义错误日志输出 -->
    <appender name="ERROR-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志文件输出的位置 -->
        <File>${LOG_PATH}/common-error.log</File>
        <!-- 追加模式 -->
        <append>true</append>
        <!-- 日志文件归档规则-按时间，每天归档一次 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOG_PATH}/common-error.%d{yyyy-MM-dd}.log.zip
            </FileNamePattern>
        </rollingPolicy>

        <!-- 日志输出格式化，默认配置为PatternLayout -->
        <layout>
            <Pattern>
                %d{HH:mm:ss} [%thread] %-5level %logger{45} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- 定义全局日志root，默认开启INFO级别日志 -->
    <root level="INFO">
        <appender-ref ref="DEFAULT-APPENDER" />
    </root>


    <springProfile name="local">
        <logger name="com.yoogurt.taxi.dal.mapper" level="DEBUG">
            <appender-ref ref="MYBATIS-APPENDER"/>
        </logger>
    </springProfile>

    <springProfile name="!local">
        <logger name="com.yoogurt.taxi.dal.mapper" level="DEBUG">
            <appender-ref ref="MYBATIS-APPENDER"/>
        </logger>
        <!--
            name 要输出日志的包名或者某个类具体的权限路径
            additivity-
                false：只用当前logger的AppenderRef
                true：使用当前logger的AppenderRef 以及root的AppenderRef
            level：日志打印级别
        -->
        <logger name="com.yoogurt.taxi.user" additivity="false" level="ERROR">
            <appender-ref ref="ERROR-APPENDER" />
        </logger>

        <logger name="com.yoogurt.taxi.user" additivity="false" level="INFO">
            <appender-ref ref="REBATE-APPENDER" />
        </logger>
    </springProfile>

</configuration>